.TableComponent-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.TableComponent-table-row:not(:last-child) {
    border-bottom: 1px rgba(245, 245, 245, 0.8) solid;
}

.TableComponent-table-row td {
    padding: .5em 0 .5em 0;
}